<% title %Q{Listing reels for "#{parent}"} %>

<% unless collection.all.blank? %>
  <ul>
    <% collection.each do |t| %>
      <li id="reel_<%=t.id%>">
        <%= t.name %>
        <%= link_to 'Edit reel', edit_dvd_reel_path(parent,t) %>
        <%= link_to 'Delete reel', dvd_reel_path(parent,t), :method => :delete %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There is no reels. You can create one using the button below.</p>
  <br/>
<% end %>

<p>
  <%= link_to 'New Reel', new_dvd_reel_path(parent) %>
</p>
<br/>

