<%= semantic_form_for(resource, :validate => true) do |form| %>
  <%= form.inputs do %>
    <%= form.input :name %>
  <% end %>

  <span class="submit-and-cancel"><%= form.buttons %> or <%= link_to 'cancel', dvds_path %></span>
<% end %>
