<% title 'Listing DVD' %>

<% unless collection.all.blank? %>

  <ul>
    <% collection.each do |dvd| %>
        <%= content_tag_for (:li, dvd) do %>
      <%= link_to dvd.name, dvd_reels_path(dvd) %>
      <%= link_to 'Edit DVD', edit_dvd_path(dvd) %>
      <%= link_to 'Delete DVD', dvd_path(dvd), :method => :delete %>
      <%= render :template => 'reels/index', :locals => {:parent => dvd, :collection => dvd.reels} %>
    <% end %>
  <% end %>
</ul>

<% else %>
  <p>There is no DVD. You can create one using the button below.</p>
  <br/>
<% end %>

<br/>

<p>
  <%= link_to 'New DVD', new_dvd_path, :class => 'button' %>
</p>

