<% title 'Listing DVD' %>

<% unless collection.all.blank? %>
  <ul class="dvds" id="dvds">
    <% collection.each do |dvd| %>
      <%= content_tag_for(:li, dvd) do %>
        <%= link_to dvd.name, dvd_reels_path(dvd) %>
        <%= link_to 'Edit DVD', edit_dvd_path(dvd) %>
        <%= link_to 'Delete DVD', dvd_path(dvd), :method => :delete %>
        <%# sortable_element("dvds", :url => sort_dvd_reels_path(dvd), :handle => "handle") %>

        <% content_for :javascript do %>
          <%= javascript_tag do %>
            // Sorting the list
            $(document).ready(function(){
            $('#reels').sortable({
            axis: 'y',
            dropOnEmpty: false,
            handle: '.handle',
            cursor: 'crosshair',
            items: 'li',
            opacity: 0.4,
            scroll: true,
            update: function(){
            $.ajax({
            type: 'post',
            data: $('#reels').sortable('serialize'),
            dataType: 'script',
            complete: function(request){
            $('#reels').effect('highlight');
            },
            url: '/dvds/<%=dvd.id%>/reels/sort'})
            }
            });
            });
          <% end %>
        <% end %>

        <ul class="reels" id="reels">
          <% unless collection.all.blank? %>
            <%= render dvd.reels, :parent => dvd %>
          <% else %>
            <li>
              There is no reels. You can create one using the button below.
            </li>
          <% end %>
          <li>
            <%= link_to 'New Reel', new_dvd_reel_path(dvd) %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </ul>

<% else %>
  <p>There is no DVD. You can create one using the button below.</p>
  <br/>
<% end %>

<br/>

<p>
  <%= link_to 'New DVD', new_dvd_path, :class => 'button' %>
</p>

